<div class="mx-auto max-w-sm">
    <.header class="text-center">
        Show Profile
    </.header>

    <.list>
        <:item title="Username">
            <%= @profile.username %>
        </:item>
        <:item title="City">
            <%= @profile.city.name %>
        </:item>
        <:item title="">
            <.button data-method="get" data-to={~p"/users/profile/edit"}>
                Edit Profile
            </.button>
        </:item>
    </.list>
</div>