<div class="mx-auto max-w-sm">
    <.header class="text-center">WeeklyCheckIns</.header>

    <.table id="weekly_check_ins" rows={@weekly_check_ins}>
        <:col :let={ci} label="id"><%= ci.id %></:col>
        <:col :let={ci} label="valence"><%= ci.valence %></:col>
        <:col :let={ci} label="inserted_at"><%= ci.inserted_at %></:col>
    </.table>

</div>