<div class="mx-auto max-w-sm">
    <.header class="text-center">
        Account created
        <:subtitle>
        Your account has been created. Please check your email for a confirmation link.
        </:subtitle>
    </.header>
</div>