<div class="mx-auto max-w-sm">
    <.header class="text-center">
        Either the sign-in link is invalid or has been used already
    </.header>
    <p class="text-center">
        Please try again signing in again
    </p>
</div>
